* {
    margin: 0;
    padding: 0;
}

:root {
    transition: 0.4s;
    --black: black;
    --red: rgb(128, 1, 1);
    --gold: rgb(177, 166, 14);
    --tan: rgb(179, 135, 84);
}

body {
    font-family: 'MedievalSharp';font-size: 22px;
    background-color: var(--black);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f525;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 10px;
  }

header {
    background-image: url(../images/29bfdabcfc9cd4ef93336011e7d17532.jpg);
    background-blend-mode: lighten;
    color: var(--gold);
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid 3px var(--red);

  }

  .gif {
    display: inline-flex;
    vertical-align: center;
    margin-left: 1rem;
    border: solid var(--black);
    border-radius: 1rem;
  }

  header h1 {
    color: var(--gold);
    padding: 20px 20px 20px 20px;
    display: inline-flex;
    vertical-align: middle;
    
  }


  nav ul {
    list-style-type: none;
    float: right;
    
}
nav li {
    display: inline-block;
    justify-content: space-between;
    color: var(--gold);
}
nav ul li a {
    display: flex;
    color: var(--gold);
    justify-content:space-between;
    padding: 10px;
    margin-right: 25px;
}
#bkgnd-photo1 {
    display: inline-flex;
    align-items: flex;
    margin: 0;
    padding: 0;
    background-image: url(../images/jeff-easley-16.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    opacity: 85%;
    overflow: auto;
}

#bkgnd-photo2 {
    display: flex;
    margin: 0;
    padding: 0;
    background-image: url(../images/dragonlance-shadow-of-the-dragon-queen.webp);
    background-size: cover;
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
    opacity: 85%;

}

#bkgnd-photo3 {
    display: block;
    margin: 0;
    padding: 0;
    background-image: url(../images/dunegeons-and-dragons-essentials-kit-artwork.jpg);
    background-size: cover;
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
    opacity: 85%;
    justify-content: center;
    align-items: center;

}

#bkgnd-photo4 {
    display: flex;
    margin: 0;
    padding: 0;
    background-image: url(../images/ilse-gort-stormwreck-isle-starter-set-dungeons-dragons.png);
    background-size: cover;
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
    opacity: 85%;

}
 

footer {
    display: flex;
    justify-content: center;
    background-color: var(--black);
    color: var(--gold);
    margin: auto;
    font-size: 85%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: solid 6px var(--red);
    ;

}


a:hover {
    color:red;
    transition: 0.3s;
}


  #roll-dice {
    color: var(--gold);
    background-color: #000000;
    font-family: 'MedievalSharp';font-size: 32px;
    justify-content: center;
    margin: auto;
    display: flex;
    height: min-content;
    width: 175px;
    margin-top: 750px;
    text-align: center;
    border: 4px solid;
    border-radius: 2rem;
  }

  #welcome-text {
    color: var(--tan);
    line-height: 1.5;
    margin: 10px;
    text-align: center;
  }

  #spell-lore-button {
    font-family: 'MedievalSharp';font-size: 32px;
    text-align: center;
    display: flex;
    margin: auto;
  }
